body {
	background-color:white;
   }
   .info001 img {
	margin:4px;
	width: 155px;
	height:155px;
   }
   .info001 li {
	text-align:center;
	position:relative;
   }
   .info001 {
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:876px;
   }
   .info001 h2 {
	margin:5px;
   }
   .image001 {
	float: left;
	margin: 0px;
   }
   .image001 img {
	position:absolute;
	}
   #logo {
	width: 22px;
	height:22px;
	vertical-align: middle;
	padding:2px;
	border: 1px solid black;
	border-radius: 4px;
	margin-left:-4px;
   }
   #profile {
	width: 169px;
	height:169px;
	padding:2px;
	border: 1px solid black;
	border-radius: 4px;
	margin-left:-4px;
   }
   #achievements {
	padding:2px;
	border: 0px solid black;
	border-radius: 4px;
   }
   ::-webkit-scrollbar {
	   width: 0px;
   }
   ::-webkit-scrollbar-track {
	   box-shadow: inset 0 0 0px #ffffff; 
	   border-radius: 0px;
   }
   ::-webkit-scrollbar-thumb {
	   background: #ffffff; 
	   border-radius: 0px;
   }
   .info002 img {
	margin:5px;
	width: 155px;
	height:155px;
   }
   .info002 li {
	text-align:center;
	position:relative;
   }
   .info002 {
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:1045px;
   }
   .info002 h2 {
	margin:5px;
   }
   .info003 img {
	margin:5px;
	width: 130px;
	height:130px;
   }
   .info003 li {
	text-align:center;
	position:relative;
   }
   .info003 {
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:1080px;
   }
   .info003 h2 {
	margin:5px;
   }
   .info004 img {
	margin:5px;
	width: 110px;
	height:110px;
   }
   .info004 li {
	text-align:center;
	position:relative;
   }
   .info004 {
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:1080px;
   }
   .info004 h2 {
	margin:5px;
   }